[Desktop Entry]
Name=yamllint Configuration(loosen).yamllint
Type=Link
Icon=application-x-yaml
URL=yamllint Configuration(loosen).yamllint
# Comment=
