[Desktop Entry]
Name=yamllint Configuration(relaxed).yamllint
Type=Link
Icon=application-x-yaml
URL=yamllint Configuration(relaxed).yamllint
# Comment=
