[Desktop Entry]
Name=yamllint Configuration(default).yamllint
Type=Link
Icon=application-x-yaml
URL=yamllint Configuration(default).yamllint
# Comment=
